.title{
    font-size: 200%;
    border-radius: 50;
    border: 10px solid rgb(191, 191, 191);
    text-align:center;
}
.links{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}
.body{
    font-size: 130%;
    text-align: center;
}
.photos{
    text-align: center;
}
